main {
    margin-left: 160px;
}

#canvas {
    width: 600px;
    height: 600px;
    border: 2px solid black;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

#shapeInfo {
    width: 200px;
    height: 600px;
    border: 2px solid black;
    border-radius: 8px;
    margin-left: 8px;
    background-color: #FFF4F3;
}

.square {
    background-color: #FF4F39;
    position: absolute;
}

.circle {
    background-color: #D195F8;
    border-radius: 50%;
    position: absolute;
}

.triangle {
    position: absolute;
    height: 0;
    width: 0;
}

.rectangle {
    background-color: #affc82;
    position: absolute;
}
